services:
  redis:
    image: redis:7-alpine
    container_name: text-extract-redis
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  server:
    container_name: text-extract-container
    build:
      context: .
    ports:
      - 4400:8000
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_URL=redis://redis:6379
    develop:
      watch:
        - action: rebuild
          path: ./src
        - action: rebuild
          path: ./requirements.txt
